<!DOCTYPE html>
<html lang="en">
<head>
    <title>Budget Buddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/stylesbuddy.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../public/js/highcharts.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="navbar-header">
                <img src="../public/images/banner_budgetbuddy_x1024.png" style="height: 50px; padding-right: 8px;">
            </div>

            <!-- Menu Items -->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Overview</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="/expenses">Expenses</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row" style="display: flex;">
        <div class="col ib cx" id="c1">Column</div>
        <div class="col ib cx" id="c2">Column</div>
        <div class="col ib cx" id="c3">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add an entry
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #337ab7; color: white;">
                            <h5 class="modal-title" id="exampleModalLabel">Create your expense
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h5>

                        </div>
                        <div class="modal-body" style="height: 35vh;">
                            <form action="/post/new_expense" method="POST" role="form">
                                <div >
                                    <div class="form-group col-md-6">
                                        <label for="inputName">Name</label>
                                        <input type="test" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputAmount">Amount</label>
                                        <input type="number" class="form-control" id="inputAmount" placeholder="Amount">
                                    </div>
                                </div>
                                <div >
                                    <div class="form-group col-md-6">
                                        <label for="inputType">Type</label>
                                        <select id="inputType" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>Income</option>
                                            <option>Food</option>
                                            <option>Entertainment</option>
                                            <option>Rent</option>
                                            <option>Utilities</option>
                                            <option>Savings</option>
                                            <option>Personal</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputDate">Date</label>
                                        <input type="date" class="form-control" id="inputDate" placeholder="Amount">

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="display: flex;">
        <div class="col ib cx" id="c4">Column</div>
        <div class="col ib cx" id="c5">Column</div>
        <div class="col ib cx" id="c6">Column</div>
    </div>
</div>

<!-- Footer -->
<footer>
    123 random street Townsville. XX | 123-456-7890 | a@b.com
</footer>
<!-- Footer -->
</body>
<script src="../public/js/dashboard.js"></script>
</html>