<!DOCTYPE html>
<html lang="en">
<head>
    <title>Budget Buddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesbuddy.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Logo -->
            <div class="navbar-header">
                <img src="/images/banner_budgetbuddy_x1024.png" style="height: 50px; padding-right: 8px;">
            </div>

            <!-- Menu Items -->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Overview</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="/expenses">Expenses</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="features">
    <figure></figure>
    <figure></figure>
</section>
<!-- Footer -->
<footer>
    123 random street Townsville. XX | 123-456-7890 | a@b.com
</footer>
<!-- Footer -->
</body>
</html>