<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Budget Buddy</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" href="../public/css/stylesbuddy.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   </head>
   <body>
   <header>
       <nav class="navbar navbar-default">
           <div class="container-fluid">
               <!-- Logo -->
               <div class="navbar-header">
                   <img src="../public/images/banner_budgetbuddy_x1024.png" style="height: 50px; padding-right: 8px;">
               </div>

               <!-- Menu Items -->
               <div>
                   <ul class="nav navbar-nav">
                       <li><a href="/dashboard">Overview</a></li>
                       <li><a href="/profile">Profile</a></li>
                       <li class="active"><a href="">Expenses</a></li>
                   </ul>
                   <ul class="nav navbar-nav" style="float: right;">
                       <li><a href="/logout">Logout</a></li>
                   </ul>
               </div>
           </div>
       </nav>
   </header>
   <div class="content-center">
     <table id="expense_table" class="table table-striped table-bordered">
        <thead>
           <tr>
              <th>Income type</th>
              <th>Description</th>
              <th>Date</th>
              <th>Cost</th>
           </tr>
        </thead>
        <tbody id="expense_table_tbody">
        </tbody>
     </table>

       <div class="container" style="display: flex; justify-content: center; padding-bottom: 16px;">
           <!-- Button trigger modal -->
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
               Add an entry
           </button>

           <!-- Modal -->
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
               <div class="modal-dialog" role="document">
                   <div class="modal-content">
                       <div class="modal-header" style="background-color: #337ab7; color: white;">
                           <h5 class="modal-title" id="exampleModalLabel">Create your expense
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </h5>

                       </div>
                       <div class="modal-body" style="height: 35vh;">
                           <form action="/post/new_expense" method="POST" role="form">
                               <div>
                                   <div class="form-group col-md-6">
                                       <label for="inputDescription">Description</label>
                                       <input type="test" class="form-control" id="inputDescription" placeholder="Description">
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputCost">Cost</label>
                                       <input type="number" class="form-control" id="inputCost" placeholder="Cost">
                                   </div>
                               </div>
                               <div>
                                   <div class="form-group col-md-6">
                                       <label for="inputType">Type</label>
                                       <select id="inputType" class="form-control">
                                       </select>
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="inputDate">Date Purchased</label>
                                       <input type="date" class="form-control" id="inputDate">
                                   </div>
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button type="submit" onclick="postExpenseData()" class="btn btn-primary">Update</button>
                       </div>
                   </div>
               </div>
           </div>

           <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">
               Delete an entry
           </button>

           <!-- Modal -->
           <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                aria-hidden="true">
               <div class="modal-dialog" role="document">
                   <div class="modal-content">
                       <div class="modal-header" style="background-color: #dc3545; color: white;">
                           <h5 class="modal-title" id="exampleModalLabel2">Delete an entry
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                           </h5>

                       </div>
                       <div class="modal-body" style="height: 35vh;">
                           <form action="/post/delete_expense" method="POST" role="form">
                               <div>
                                   <div class="form-group col-md-6" style="width: 100%;">
                                       <label for="inputDelete">Description</label>
                                       <select id="inputDelete" class="form-control">
                                       </select>
                                   </div>
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <button type="submit" onclick="postExpenseDelete()" class="btn btn-danger">Delete</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>


   </div>
      <footer>
          <ul class="footer-nav">
              <li>Creators: </li>
              <li>Abdul Haqani</li>
              <li>Fiona Macdonald</li>
              <li>George Liu</li>
              <li>Andre Benedito</li>
          </ul>
          <p class = "footerDate">UottaHack 2019</p>
      </footer>
</body>
<script src="../public/js/expenses.js"></script>
</html>
