<!DOCTYPE html>
<html lang="en">
<head>
    <title>Budget Buddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/stylesbuddy.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">


            <!-- Logo -->
            <div class="navbar-header">
                <img src="../public/images/banner_budgetbuddy_x1024.png" style="height: 50px; padding-right: 8px;">

            </div>
            <!-- Menu Items -->
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Overview</a></li>
                    <li class="active"><a href="/profile">Profile</a></li>
                    <li><a href="/expenses">Expenses</a></li>
                </ul>
                <ul class="nav navbar-nav" style="float: right;">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>
<div class="content-center">

    <center>
        <h1>Your Information</h1>
    </center>
    <div class="c2 l">
        <div class="cc">
            <img id="avatar" src="http://cdn.onlinewebfonts.com/svg/img_518099.png">
            <div id="avatar_change">
                <a>Change Profile Picture</a>
            </div>
        </div>
    </div>
    <!-- Form -->
    <form class="c2 r">
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="John Doe">
        </div>
    </form>
    <!-- Form -->
    <span class="seperator"></span>
    <section class="features">
        <figure></figure>
        <figure></figure>
    </section>
    <center>
        <h1>Custom Categories</h1>
    </center>
    <!-- Form 2-->
    <div class="categories">
        <div class="col-xs-12 cc" id="custom_table">
        </div>
    </div>
    <div class="container" style="width: 100%;">
        <div class="col-xs-12 cc">
            <div class="row form-row button">
                <div class="col-xs-12">
                    <button class="btn btn-success" onclick="addData('', '')">Add Row</button>
                    <button class="btn btn-info" onclick="postData()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <ul class="footer-nav">
                <li>Creators: </li>
                <li>Abdul Haqani</li>
                <li>Fiona Macdonald</li>
                <li>George Liu</li>
                <li>Andre Benedito</li>
            </ul>
            <p class = "footerDate">UottaHack 2019</p>
        </footer>
    </div>
    <!-- Footer -->
</div>
</body>
<script src="../public/js/profile.js"></script>
</html>
